
@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 1rem;
}

/* Utilidades adicionales */
@layer utilities {
  .line-clamp-1 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }
  
  .line-clamp-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
}

/* Estilos personalizados para formularios */
input:focus, select:focus {
  box-shadow: 0 0 0 2px rgba(220, 38, 38, 0.2);
}

/* Scrollbar personalizado */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #dc2626;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b91c1c;
}
